<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxbwstxpay">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 阿里移动推送相关权限 -->
    <!-- Android 6.0版本可去除，用于选举信息（通道复用）的同步 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 补偿通道小米PUSH使用，不用可去除 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 阿里云推送测试 -->
        <!-- <meta-data -->
        <!-- android:name="com.alibaba.app.appkey" -->
        <!-- android:value="24626107" /> &lt;!&ndash; 请填写你自己的- appKey &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.alibaba.app.appsecret" -->
        <!-- android:value="cd6c163e9bb11d72f2afa500761e1b42" /> &lt;!&ndash; 请填写你自己的appSecret &ndash;&gt; -->
        <!-- 阿里云推送正式 -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24624935" />
        <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="f20b18c7ed7913bbf45c6ffda95c6d1a" />
        <!-- 请填写你自己的appSecret -->


        <!-- 消息接收监听器 -->
        <receiver android:name=".reciver.MyReciver">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 通道保持服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="taobao" />
            </intent-filter>
        </service>
        <!-- 消息接收服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>
        <!-- 消息接收增强服务（可提高通知/消息达到率） -->
        <service
            android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BangZhuZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GongGaoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeDDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShangHuXXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShouYiMXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeSHActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeSYActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TuiGuangYJActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LiJiTXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeZDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeZLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DiZhiGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XinZengDZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhuCeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WangJiMMActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DingDanXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FeiLvActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XuanZeTDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HuanYingActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.YinDaoActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.XinZengYHKActivity" />
        <activity android:name=".activity.XuanZeXYKActivity" />
        <activity android:name=".activity.SheZhiActivity" />
        <activity android:name=".activity.GuanLiYHKActivity" />
        <activity android:name=".activity.ShangHuLBActivity" />
        <activity android:name=".activity.ZhangHuAQActivity" />
        <activity android:name=".activity.XiuGaiMMActivity" />
        <activity android:name=".activity.WeiXinMPMaActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.TuiGuangActivity" />
        <activity android:name=".activity.TuiGuangEWMActivity"/>
        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ登录界面 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101396541" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ登录界面 -->
    </application>

</manifest>