<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hudongchuangxiang.com.jinglingzhiquan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BangZhuZXActivity" />
        <activity android:name=".activity.GongGaoActivity" />
        <activity android:name=".activity.WoDeDDActivity" />
        <activity android:name=".activity.ShangHuXXActivity" />
        <activity android:name=".activity.ShouYiMXActivity" />
        <activity android:name=".activity.WoDeSHActivity" />
        <activity android:name=".activity.WoDeSYActivity" />
        <activity android:name=".activity.TuiGuangYJActivity" />
        <activity android:name=".activity.LiJiTXActivity" />
        <activity android:name=".activity.WoDeZDActivity" />
        <activity android:name=".activity.WoDeZLActivity" />
        <activity android:name=".activity.DiZhiGLActivity" />
        <activity android:name=".activity.XinZengDZActivity" />
        <activity android:name=".activity.ZhuCeActivity" />
        <activity android:name=".activity.WangJiMMActivity" />
        <activity android:name=".activity.DingDanXQActivity"></activity>
    </application>

</manifest>